build/*
!build/report/
build/report/*
!build/report/uml-redesign-report.pdf
!build/slides/
build/slides/*
!build/slides/uml-redesign-slides.pdf
!build/comprehensive/
build/comprehensive/*
!build/comprehensive/uml-comprehensive-report.pdf
